{{define "content"}}
<div class="container" style="height: 645px;">
    <form class="form-signin" action="/login" method="POST">
    {{$prev_year:= translate "user_login"}}
        <h1 class="form-signin-heading text-muted">{{translate "user_login"}}</h1>
        <input name="email" type="text" class="form-control" placeholder="{{translate "user_username"}}" required=""
               autofocus="">
        <input name="password" type="password" class="form-control" placeholder="{{translate "user_password"}}"
               required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">
        {{translate "user_login"}}
        </button>
    </form>
</div>
{{end}}